.ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin: 5px;
}

.ball.active {
    background-color: green;
}

.flexContainerLine {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 3;
    top: 30%;
    
  }